

<!DOCTYPE html>
<html class="writer-html5" lang="zh-CN" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>2. Jinja使用教程 &mdash; jinja 1.0 文档</title>
  

  
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
        <script src="_static/language_data.js"></script>
        <script src="_static/translations.js"></script>
    
    <script type="text/javascript" src="_static/js/theme.js"></script>

    
    <link rel="index" title="索引" href="genindex.html" />
    <link rel="search" title="搜索" href="search.html" />
    <link rel="next" title="3. 实例：修改主题颜色" href="part3.html" />
    <link rel="prev" title="1. 概念解释" href="part1.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="index.html" class="icon icon-home" alt="Documentation Home"> jinja
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">目录:</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="part1.html">1. 概念解释</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">2. Jinja使用教程</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#id1">2.1. 安装</a></li>
<li class="toctree-l2"><a class="reference internal" href="#id2">2.2. 基本语法</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#id3">2.2.1. 变量取值</a></li>
<li class="toctree-l3"><a class="reference internal" href="#id4">2.2.2. 控制结构</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#if">2.2.2.1. if语句</a></li>
<li class="toctree-l4"><a class="reference internal" href="#for">2.2.2.2. for循环</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#id5">2.2.3. 注释</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="#id6">2.3. Jinja中的过滤器</a></li>
<li class="toctree-l2"><a class="reference internal" href="#id7">2.4. Jinja中的宏</a></li>
<li class="toctree-l2"><a class="reference internal" href="#jinjasuper">2.5. Jinja的继承和Super函数</a></li>
<li class="toctree-l2"><a class="reference internal" href="#id8">2.6. 利用jinja进行渲染</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#packageloader">2.6.1. PackageLoader</a></li>
<li class="toctree-l3"><a class="reference internal" href="#filesystemloader">2.6.2. FileSystemLoader</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="part3.html">3. 实例：修改主题颜色</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">jinja</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li><span class="section-number">2. </span>Jinja使用教程</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="_sources/part2.md.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="jinja">
<h1><span class="section-number">2. </span>Jinja使用教程<a class="headerlink" href="#jinja" title="永久链接至标题">¶</a></h1>
<div class="section" id="id1">
<h2><span class="section-number">2.1. </span>安装<a class="headerlink" href="#id1" title="永久链接至标题">¶</a></h2>
<p>输入以下指令安装jinja2：</p>
<p><code class="docutils literal notranslate"><span class="pre">pip</span> <span class="pre">install</span> <span class="pre">Jinja2</span></code></p>
<p>输入以下指令，测试模板是否安装成功，没有报错就表示安装成功：</p>
<p><code class="docutils literal notranslate"><span class="pre">python</span>&#160; <span class="pre">-</span> <span class="pre">c</span>&#160; <span class="pre">&quot;import</span> <span class="pre">jinja2&quot;</span></code></p>
<ul class="simple">
<li><p>注意此处必须用双引号”</p></li>
</ul>
</div>
<div class="section" id="id2">
<h2><span class="section-number">2.2. </span>基本语法<a class="headerlink" href="#id2" title="永久链接至标题">¶</a></h2>
<p>作为一个模板系统，jinja2提供了特殊的语法。我们按照它支持的语法进行编写之后，就能使用jinja2模块进行渲染。</p>
<p>在jinja2中，存在三种语法：</p>
<ul class="simple">
<li><p>变量取值 <code class="docutils literal notranslate"><span class="pre">{{</span> <span class="pre">}}</span></code></p></li>
<li><p>控制结构 <code class="docutils literal notranslate"><span class="pre">{%</span> <span class="pre">%}</span></code></p></li>
<li><p>注释 <code class="docutils literal notranslate"><span class="pre">{#</span> <span class="pre">#}</span></code></p></li>
</ul>
<div class="section" id="id3">
<h3><span class="section-number">2.2.1. </span>变量取值<a class="headerlink" href="#id3" title="永久链接至标题">¶</a></h3>
<p>jinja2模板中使用 <code class="docutils literal notranslate"><span class="pre">{{</span> <span class="pre">}}</span></code> 语法表示一个变量。</p>
<p>它是一种特殊的占位符。当利用jinja2进行渲染的时候，它会把这些特殊的占位符进行填充/替换。</p>
<p>jinja2支持python中所有的Python数据类型，比如列表、字典等。</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="x">&lt;p&gt;this is a dicectory:</span><span class="cp">{{</span> <span class="nv">mydict</span><span class="o">[</span> <span class="s1">&#39;key&#39;</span> <span class="o">]</span> <span class="cp">}}</span><span class="x"> &lt;/p&gt;</span>
<span class="x">&lt;p&gt;this is a list:</span><span class="cp">{{</span> <span class="nv">mylist</span><span class="o">[</span><span class="m">3</span><span class="o">]</span> <span class="cp">}}</span><span class="x"> &lt;/p&gt;</span>
<span class="x">&lt;p&gt;this is a object:</span><span class="cp">{{</span> <span class="nv">myobject.something</span><span class="o">()</span> <span class="cp">}}</span><span class="x"> &lt;/p&gt;</span>
</pre></div>
</div>
<p>示例：</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/test1&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">test1</span><span class="p">():</span>
    <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;Daniel&quot;</span>
    <span class="n">lst</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">4</span><span class="p">]</span>
    <span class="n">dic</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;jj&quot;</span><span class="p">:</span> <span class="s1">&#39;林俊杰&#39;</span><span class="p">,</span> <span class="s1">&#39;jay&#39;</span><span class="p">:</span> <span class="s1">&#39;周杰伦&#39;</span><span class="p">}</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;test1.html&quot;</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="n">name</span><span class="p">,</span> <span class="n">lst</span><span class="o">=</span><span class="n">lst</span><span class="p">,</span> <span class="n">dic</span><span class="o">=</span><span class="n">dic</span><span class="p">)</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&quot;zh-CN&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&quot;UTF-8&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">http-equiv</span><span class="o">=</span><span class="s">&quot;x-ua-compatible&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;IE=edge&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;width=device-width, initial-scale=1&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Title<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
{{name}}<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
{{lst}}
{{dic[&quot;jj&quot;]}}
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
<p><img alt="_images/var.jpg" src="_images/var.jpg" /></p>
</div>
<div class="section" id="id4">
<h3><span class="section-number">2.2.2. </span>控制结构<a class="headerlink" href="#id4" title="永久链接至标题">¶</a></h3>
<div class="section" id="if">
<h4><span class="section-number">2.2.2.1. </span>if语句<a class="headerlink" href="#if" title="永久链接至标题">¶</a></h4>
<p>jinja2中的if语句类似与Python的if语句，它也具有单分支，多分支等多种结构。</p>
<p>不同的是，jinja的条件语句不需要使用冒号结尾，而结束控制语句，需要使用endif关键字。</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span>  <span class="k">if</span>  <span class="nv">daxin.safe</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">daxin is safe.</span>
<span class="cp">{%</span> <span class="k">elif</span> <span class="nv">daxin.dead</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">daxin is dead</span>
<span class="cp">{%</span>  <span class="k">else</span>  <span class="cp">%}</span><span class="x"></span>
<span class="x">daxin is okay</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
</div>
</div>
<div class="section" id="for">
<h4><span class="section-number">2.2.2.2. </span>for循环<a class="headerlink" href="#for" title="永久链接至标题">¶</a></h4>
<p>jinja2中的for循环用于迭代Python的数据类型，包括列表，元组和字典。</p>
<p>在jinja2中不存在while循环。</p>
<p>迭代列表：</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="x">&lt;ul&gt;</span>
<span class="cp">{%</span>  <span class="k">for</span>  <span class="nv">user</span> <span class="k">in</span> <span class="nv">users</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;li&gt;</span><span class="cp">{{</span> <span class="nv">user.username</span><span class="o">|</span><span class="nf">title</span> <span class="cp">}}</span><span class="x">&lt;/li&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/ul&gt;</span>
</pre></div>
</div>
<p>迭代字典：</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="x">&lt;dl&gt;</span>
<span class="cp">{%</span>  <span class="k">for</span>  <span class="nv">key</span><span class="o">,</span> <span class="nv">value</span> <span class="k">in</span> <span class="nv">my_dict.iteritems</span><span class="o">()</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;dt&gt;</span><span class="cp">{{</span> <span class="nv">key</span> <span class="cp">}}</span><span class="x">&lt;/dt&gt;</span>
<span class="x">&lt;dd&gt;</span><span class="cp">{{</span> <span class="nv">value</span><span class="cp">}}</span><span class="x">&lt;/dd&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/dl&gt;</span>
</pre></div>
</div>
<p>可以看到，for循环的使用方式和Python比较类似，但是没有了句尾的冒号，另外需要使用endfor作为结尾。</p>
<p>当然也可以加入else语句，在循环正确执行完毕后执行。</p>
<p>示例：</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s1">&#39;/test2&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">test2</span><span class="p">():</span>
    <span class="n">num</span> <span class="o">=</span> <span class="mi">7</span>
    <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;Daniel&quot;</span>
    <span class="n">lst</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">4</span><span class="p">]</span>
    <span class="n">dic</span> <span class="o">=</span> <span class="p">{</span><span class="s2">&quot;jj&quot;</span><span class="p">:</span> <span class="s1">&#39;林俊杰&#39;</span><span class="p">,</span> <span class="s1">&#39;jay&#39;</span><span class="p">:</span> <span class="s1">&#39;周杰伦&#39;</span><span class="p">}</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;test2.html&quot;</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="n">name</span><span class="p">,</span> <span class="n">lst</span><span class="o">=</span><span class="n">lst</span><span class="p">,</span> <span class="n">dic</span><span class="o">=</span><span class="n">dic</span><span class="p">,</span> <span class="n">num</span><span class="o">=</span><span class="n">num</span><span class="p">)</span>
</pre></div>
</div>
<div class="highlight-HTML notranslate"><div class="highlight"><pre><span></span> <span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&quot;zh-CN&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&quot;UTF-8&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">http-equiv</span><span class="o">=</span><span class="s">&quot;x-ua-compatible&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;IE=edge&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content</span><span class="o">=</span><span class="s">&quot;width=device-width, initial-scale=1&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Title<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
{{name}}<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
{{lst}}
{{dic[&quot;jj&quot;]}}
{{dic.jay}}
{% if num %}
    <span class="p">&lt;</span><span class="nt">h3</span><span class="p">&gt;</span>ok<span class="p">&lt;/</span><span class="nt">h3</span><span class="p">&gt;</span>
{% else %}
    <span class="p">&lt;</span><span class="nt">h3</span><span class="p">&gt;</span>error<span class="p">&lt;/</span><span class="nt">h3</span><span class="p">&gt;</span>
{% endif %}
<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
    {% for index in lst %}
    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span> {{ index }} <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
    {% endfor %}
<span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
<p><img alt="_images/for.jpg" src="_images/for.jpg" /></p>
<p>在for循环中，jinja2还提供了一些特殊的变量，用以来获取当前的遍历状态：</p>
<br>
<table border=1 id="space" CellPadding=5px>
    <tr>
        <th  align="center">变量</th>
        <th align="center">描述</th>
    </tr>
    <tr>
        <td  align="center">loop.index</td>
        <td >当前迭代的索引（从1开始）</td>
    </tr>
    <tr>
        <td  align="center">loop.index0</td>
        <td ">当前迭代的索引（从0开始）</td>
    </tr>
    <tr>
        <td  align="center">loop.first</td>
        <td >是否是第一次迭代，返回bool</td>
    </tr>
    <tr>
        <td  align="center">loop.last</td>
        <td >是否是最后一次迭代，返回bool</td>
    </tr>
    <tr>
        <td  align="center">loop.length </td>
        <td >序列中的项目数量</td>
    </tr>
    <tr>
        <td  align="center">loop.revindex </td>
        <td  >到循环结束的次数（从1开始）</td>
    </tr>
    <tr>
        <td  align="center">loop.revindex0 </td>
        <td >到循环结束的次数（从0开始）</td>
    </tr>
    <tr>
        <td  align="center">loop.depth </td>
        <td >当前循环在递归中的层级（从1开始）</td>
    </tr>
    <tr>
        <td  align="center">loop.depth0 </td>
        <td >当前循环在递归中的层级（从0开始）</td>
    </tr>
</table>
<br><p>例如：</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&quot;en&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&quot;UTF-8&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Title<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
{% for item in [[1,2],[3,4,5]] recursive %}
  Depth: {{ loop.depth }}<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
  {% if item[0] %}
    {{ loop(item) }}<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
  {% else %}
    Number: {{ item }} ;<span class="p">&lt;</span><span class="nt">br</span><span class="p">&gt;</span>
  {% endif %}
{% endfor %}
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
<p><img alt="_images/loop.jpg" src="_images/loop.jpg" /></p>
</div>
</div>
<div class="section" id="id5">
<h3><span class="section-number">2.2.3. </span>注释<a class="headerlink" href="#id5" title="永久链接至标题">¶</a></h3>
<p>jinja2模板中使用 <code class="docutils literal notranslate"><span class="pre">{#</span> <span class="pre">#}</span></code> 语法进行注释，注释的内容不会在html中被渲染出来。</p>
<p><code class="docutils literal notranslate"><span class="pre">{#</span> <span class="pre">COMMENT</span> <span class="pre">#}</span></code></p>
<p>如：</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="c">{# This is jinja code</span>
<span class="c">     {%  for  file in filenames %}</span>
<span class="c">     ...</span>
<span class="c">     {% endfor %}</span>
<span class="c">#}</span><span class="x"></span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="id6">
<h2><span class="section-number">2.3. </span>Jinja中的过滤器<a class="headerlink" href="#id6" title="永久链接至标题">¶</a></h2>
<p>变量可以通过 <strong>“过滤器”</strong> 进行修改。过滤器可以理解为，是jinja2里面的内置函数和字符串处理函数。</p>
<p>常用的过滤器有：
<br></p>
<table border=1 id="space" CellPadding=5px>
    <tr>
        <th  align="center">过滤器</th>
        <th align="left">说明</th>
    </tr>
    <tr>
        <td  align="center">safe</td>
        <td >渲染时值不转义</td>
    </tr>
    <tr>
        <td  align="center">capitialize</td>
        <td ">把值的首字母转换成大写，其他子母转换为小写</td>
    </tr>
    <tr>
        <td  align="center">lower</td>
        <td >把值转换成小写形式</td>
    </tr>
    <tr>
        <td  align="center">upper</td>
        <td >把值转换成大写形式</td>
    </tr>
    <tr>
        <td  align="center">title</td>
        <td >把值中每个单词的首字母都转换成大写</td>
    </tr>
    <tr>
        <td  align="center">trim</td>
        <td  >把值的首尾空格去掉</td>
    </tr>
    <tr>
        <td  align="center">striptags</td>
        <td >渲染之前把值中所有的HTML标签都删掉</td>
    </tr>
        <tr>
        <td  align="center">join</td>
        <td  >拼接多个值为字符串</td>
    </tr>
    <tr>
        <td  align="center">replace</td>
        <td >替换字符串的值</td>
    </tr>
    <tr>
        <td  align="center">round</td>
        <td >默认对数字进行四舍五入，也可以用参数进行控制</td>
    </tr>
    <tr>
        <td  align="center">int</td>
        <td>把值转换成整型</td>
    </tr>
</table>
<br><p>使用这些过滤器只需要在变量后面使用竖线(<code class="docutils literal notranslate"><span class="pre">|</span></code>)分割。</p>
<p>多个过滤器可以链式调用，前一个过滤器的输出会作为后一个过滤器的输入。</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{{</span>  <span class="s1">&#39;abc&#39;</span>  <span class="o">|</span> <span class="nf">captialize</span>  <span class="cp">}}</span><span class="x"></span>
<span class="x"># Abc</span>
<span class="x"> </span>
<span class="cp">{{</span>  <span class="s1">&#39;abc&#39;</span>  <span class="o">|</span> <span class="nf">upper</span>  <span class="cp">}}</span><span class="x"></span>
<span class="x"># ABC</span>
<span class="x"> </span>
<span class="cp">{{</span>  <span class="s1">&#39;hello world&#39;</span>  <span class="o">|</span> <span class="nf">title</span>  <span class="cp">}}</span><span class="x"></span>
<span class="x"># Hello World</span>
<span class="x"> </span>
<span class="cp">{{</span>  <span class="s2">&quot;hello world&quot;</span>  <span class="o">|</span> <span class="nf">replace</span><span class="o">(</span> <span class="s1">&#39;world&#39;</span> <span class="o">,</span> <span class="s1">&#39;daxin&#39;</span> <span class="o">)</span> <span class="o">|</span> <span class="nf">upper</span> <span class="cp">}}</span><span class="x"></span>
<span class="x"># HELLO DAXIN</span>
<span class="x"> </span>
<span class="cp">{{</span> <span class="m">18.18</span> <span class="o">|</span> <span class="nf">round</span> <span class="o">|</span> <span class="nf">int</span> <span class="cp">}}</span><span class="x"></span>
<span class="x"># 18</span>
</pre></div>
</div>
</div>
<div class="section" id="id7">
<h2><span class="section-number">2.4. </span>Jinja中的宏<a class="headerlink" href="#id7" title="永久链接至标题">¶</a></h2>
<p>宏类似于Python中的函数。我们在宏中定义行为，还可以进行传递参数，就像Python中的函数一样。</p>
<p>在宏中定义一个宏的关键字是<strong>macro</strong>，后面跟其宏的名称和参数等</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">macro</span> <span class="nv">input</span><span class="o">(</span><span class="nv">name</span><span class="o">,</span><span class="nv">age</span><span class="o">=</span><span class="m">18</span><span class="o">)</span> <span class="cp">%}</span><span class="x">   </span>
<span class="x"># 定义宏，参数age的默认值为18</span>
<span class="x"> </span>
<span class="x">  &lt;input  type = &#39;text&#39;  name= &quot;</span><span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span><span class="x">&quot;  value= &quot;</span><span class="cp">{{</span> <span class="nv">age</span> <span class="cp">}}</span><span class="x">&quot;  &gt;</span>
<span class="x"> </span>
<span class="cp">{%</span> <span class="k">endmacro</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
</div>
<p>调用方法也和Python的类似</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="x">&lt;p&gt;</span><span class="cp">{{</span> <span class="nv">input</span><span class="o">(</span> <span class="s1">&#39;daxin&#39;</span> <span class="o">)</span> <span class="cp">}}</span><span class="x"> &lt;/p&gt;</span>
<span class="x">&lt;p&gt;</span><span class="cp">{{</span> <span class="nv">input</span><span class="o">(</span> <span class="s1">&#39;daxin&#39;</span><span class="o">,</span> <span class="nv">age</span><span class="o">=</span><span class="m">20</span><span class="o">)</span> <span class="cp">}}</span><span class="x"> &lt;/p&gt;</span>
</pre></div>
</div>
<p>宏像函数一样，也可以被集合在一起（一个HTML中）,用的时候像调用库函数一样import使用。</p>
<p>这样可以让我们的主HTML文件，内容更加简练。节省空间，可读性更强。</p>
<p>例如，将一个macro放在’_macro.html’中，然后引入到我们的文件里：</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">import</span> <span class="s1">&#39;_macro.html&#39;</span> <span class="k">as</span> <span class="nv">ui</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
</div>
<p>这里注意，<strong>必须</strong>要加 <strong>as 库名</strong> ，不然我们引用函数的时候，都不知道从哪里来的函数。</p>
<p>调用的方式也有点改变：</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{{</span> <span class="nv">ui.input</span><span class="o">(</span><span class="s1">&#39;username&#39;</span><span class="o">)</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">ui.input</span><span class="o">(</span><span class="s1">&#39;password&#39;</span><span class="o">,</span><span class="nv">type</span><span class="o">=</span><span class="s1">&#39;password&#39;</span><span class="o">)</span> <span class="cp">}}</span><span class="x"></span>
</pre></div>
</div>
</div>
<div class="section" id="jinjasuper">
<h2><span class="section-number">2.5. </span>Jinja的继承和Super函数<a class="headerlink" href="#jinjasuper" title="永久链接至标题">¶</a></h2>
<p>Jinja2中最强大的部分就是<strong>模板继承</strong>。</p>
<p>模板继承允许我们创建一个基本(骨架)文件，其他文件从该骨架文件继承，然后针对自己需要的地方进行修改。</p>
<p>Jinja2的骨架文件中，利用<strong>block</strong>关键字表示其包涵的内容可以进行修改。每个block都代表一段html语句块，这些块可以在当前的html文件中定义，也可以在别的html中定义。</p>
<p>定义的时候，如果py文件链接的是home.html，但home.html引用了base.html的模板，home.html 顶部必须说明继承关系。</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">extends</span> <span class="s1">&#39;base.html&#39;</span> <span class="cp">%}</span><span class="x"></span>
</pre></div>
</div>
<p>块的定义格式，endblock 后面块名可以省略，有时候加上会让结构更加明晰</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">block</span> <span class="p">块名</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">    块内容</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="o">(</span><span class="p">块名</span><span class="o">)</span><span class="cp">%}</span><span class="x"></span>
</pre></div>
</div>
<p>定义了块之后，base.html中对应的块，就会被这些块内容覆盖，也可以既不覆盖通用模板的内容，又在其基础上，增加一些东西。</p>
<p>以下面的骨架文件base.html为例：</p>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="cp">&lt;! DOCTYPE  html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&quot;en&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    {% block head %}
        <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>
            {% block title %}title{% endblock %} - My Webpage
        <span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
    {% endblock %}
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;content&quot;</span><span class="p">&gt;</span>
    {% block content %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>this is content<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endblock %}
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;footer&quot;</span><span class="p">&gt;</span>
    {% block  footer %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>this is footer<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endblock %}
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
<p><img alt="_images/base.jpg" src="_images/base.jpg" /></p>
<p>这里定义了四处 block，即：head，title，content，footer。</p>
<p>那怎么进行继承和变量替换呢？</p>
<p>注意看下面的文件</p>
<div class="highlight-jinja notranslate"><div class="highlight"><pre><span></span><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;base.html&quot;</span> <span class="cp">%}</span><span class="x"></span>
<span class="c">{# 继承base.html文件#}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x"> jinja title </span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="c">{# 定制title部分的内容#}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">head</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">    </span><span class="cp">{{</span> <span class="nb">super</span> <span class="o">()</span> <span class="cp">}}</span><span class="x"></span>
<span class="c">{# 用于获取原有的信息 #}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">footer</span> <span class="cp">%}</span><span class="x"> </span>
<span class="x">This is jinja footer </span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="c">{# 定制footer部分的内容#}</span><span class="x"></span>
</pre></div>
</div>
<p><img alt="_images/super.jpg" src="_images/super.jpg" /></p>
<p>注意，super()函数表示获取block块中定义的原来的内容。</p>
</div>
<div class="section" id="id8">
<h2><span class="section-number">2.6. </span>利用jinja进行渲染<a class="headerlink" href="#id8" title="永久链接至标题">¶</a></h2>
<p>jinja2模块中有一个名为Enviroment的类。这个类的实例用于存储配置和全局对象，然后从文件系统或其他位置中加载模板。</p>
<p>大多数应用都在初始化的时候有一个Environment对象，并用它加载模板。Environment支持两种加载方式：</p>
<ul class="simple">
<li><p>PackageLoader：包加载器</p></li>
<li><p>FileSystemLoader：文件系统加载器</p></li>
</ul>
<div class="section" id="packageloader">
<h3><span class="section-number">2.6.1. </span>PackageLoader<a class="headerlink" href="#packageloader" title="永久链接至标题">¶</a></h3>
<p>使用包加载器来加载文档的最简单的方式如下：</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="o">&gt;</span> <span class="kn">from</span>  <span class="nn">jinja2</span>  <span class="kn">import</span>  <span class="n">PackageLoader</span><span class="p">,</span><span class="n">Environment</span>

<span class="n">env</span>  <span class="o">=</span>  <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span> <span class="o">=</span> <span class="n">PackageLoader</span><span class="p">(</span> <span class="s1">&#39;python_project&#39;</span> <span class="p">,</span> <span class="s1">&#39;templates&#39;</span> <span class="p">))</span>     
<span class="c1"># 创建一个包加载器对象</span>
 
<span class="n">template</span>  <span class="o">=</span>  <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span> <span class="s1">&#39;bast.html&#39;</span> <span class="p">)</span>     
<span class="c1"># 获取一个模板文件</span>
<span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="s1">&#39;daxin&#39;</span> <span class="p">,</span><span class="n">age</span> <span class="o">=</span> <span class="mi">18</span> <span class="p">)</span>    
<span class="c1"># 渲染</span>
</pre></div>
</div>
<p>其中：</p>
<ul class="simple">
<li><p>PackageLoader()的两个参数为：python包的名称+模板目录名称。</p></li>
<li><p>get_template()：获取模板目录下的某个具体文件。</p></li>
<li><p>render()：接受变量，对模板进行渲染</p></li>
</ul>
</div>
<div class="section" id="filesystemloader">
<h3><span class="section-number">2.6.2. </span>FileSystemLoader<a class="headerlink" href="#filesystemloader" title="永久链接至标题">¶</a></h3>
<p>文件系统加载器，不需要模板文件存在某个Python包下，可以直接访问系统中的文件。</p>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="part3.html" class="btn btn-neutral float-right" title="3. 实例：修改主题颜色" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="part1.html" class="btn btn-neutral float-left" title="1. 概念解释" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; 版权所有 2021, Qin Ziqiu

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
    

<style>
/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
     background: hotpink;
}
/* Sidebar */
.wy-nav-side {
     background: purple;
}
.wy-nav-content, .wy-nav-content-wrap
{
     background: lightyellow;
}
.highlight{
     background-color: beige;
}
</style>


</body>
</html>